.banner {
    display: flex;
    align-items: center;
    padding: 3em 0 1.37em 1em;
    width: 90%;
}

.banner img {
    padding-right: 1em;
}

.banner__title {
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--preto-fonte);
    padding-bottom: .3em;
}

.banner__info {
    color: var(--cinza-fonte);
    font-weight: 400;
}
